/includes/db_connect.php
/includes/jwt_utils.php
/includes/send_mail.php
phpinfo.php
test_time.php

/assets/images/uploads/
assets/images/clinics/
/assets/images/medcards/

/vendor/

.DS_Store
Thumbs.db

.vscode/
.idea/

*.log
*.tmp
*.bak

xampp/
